<% provide(:title, 'Contract') %>
<h1>This is a contract between bison and tyon!</h1>
<p>
  <a href="http://s3-media3.ak.yelpcdn.com/bphoto/M4MBziiY6q5aEbRqY5WouQ/l.jpg">This bison</a> belongs to <a href="http://lovemeow.com/wp-content/uploads/2012/05/kitten81.jpg">this tyon.</a>
</p>

