<% provide(:title, 'Contract') %>
<h1>This is a contract between bison and tyon!</h1>
<p>
  <a href="http://s3-media3.ak.yelpcdn.com/bphoto/M4MBziiY6q5aEbRqY5WouQ/l.jpg">This bison</a> belongs to <a href="http://ct.iscute.com/ol/ic/sw/i38/2/5/22/ic_695c33d03cb52b17443fe0e1c2981cba.jpg">this tyon.</a>
</p>

